#main-header .main-menu .navbar {
    margin: 0;
    float: right; }
  
  #main-header .main-menu .navbar-nav li {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 300; }
    #main-header .main-menu .navbar-nav li .submenu-v1 ul li {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      list-style-type: disc;
      font-weight: 400;
      margin-bottom: 10px; }
  
  #main-header .header-right {
    align-items: center;
    justify-content: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    #main-header .header-right .search {
      margin-right: 35px;
      margin-top: 4px;
      font-size: 16px;
      cursor: pointer; }
      #main-header .header-right .search i {
        font-size: 30px; }
  
  #main-header.header-default .inner {
    border-bottom: 1px solid #e9e9e9;
    padding: 25px 0;
    grid-template-columns: 200px 1fr 200px;
    display: -webkit-grid;
    display: -webkit-grid;
    display: -moz-grid;
    display: -ms-grid;
    display: grid; }
  
  #main-header.header-default .main-menu .megamenu-default .submenu-v1 {
    right: calc(50% - 460px); }
  
  #main-header.header-default .main-menu .megamenu-fullwidth .submenu-v1 {
    right: calc(50% - 400px); }
  
  #main-header.header-page .inner {
    display: -webkit-grid;
    display: -webkit-grid;
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 160px 1fr;
    padding: 25px 35px 25px 8px; }
  
  #main-header.header-page .logo a {
    display: inline-block; }
  
  #main-header.header-page .main-menu .navbar {
    float: none;
    padding: 0; }
  
  
  
  #main-header.header-v3 .inner {
    padding: 23px 40px; }
  
  #main-header.header-v3 .main-menu .megamenu-fullwidth .submenu-v1 {
    right: calc(50% - 300px); }
  
  #main-header.header-v4 {
    position: relative;
    border-right: 1px solid #e9e9e9;
    height: 100%;
    width: 308px; }
    #main-header.header-v4 .logo {
      padding-top: 100px;
      margin-bottom: 100px;
      text-align: center; }
      #main-header.header-v4 .logo a {
        display: inline-block; }
    #main-header.header-v4 .main-menu .navbar-nav {
      float: none;
      text-align: center; }
      #main-header.header-v4 .main-menu .navbar-nav > li {
        float: none;
        font-size: 24px; }
    #main-header.header-v4 .main-menu .navbar {
      float: none; }
    #main-header.header-v4 .header-bottom {
      bottom: 40px;
      margin: 0 auto;
      left: 32%;
      position: absolute;
      right: 0;
      -webkit-transform: translateX(-24%);
      -moz-transform: translateX(-24%);
      -ms-transform: translateX(-24%);
      -o-transform: translateX(-24%);
      transform: translateX(-24%); }
    #main-header.header-v4 .search .input-search::placeholder {
      font-size: 14px;
      text-transform: none; }
    #main-header.header-v4 .shopping-cart {
      margin: 0 auto 55px;
      width: 60px;
      height: 60px;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px; }
      #main-header.header-v4 .shopping-cart .icon-cart {
        font-size: 0;
        position: relative; }
        #main-header.header-v4 .shopping-cart .icon-cart:after {
          background: url("../images/icon/icon_cart_shopping.png") no-repeat;
          content: "";
          position: absolute;
          margin: 0 auto;
          left: -3px;
          top: -12px;
          right: 0;
          width: 22px;
          height: 32px; }
      #main-header.header-v4 .shopping-cart .dropdown-menu {
        position: fixed;
        top: 0;
        left: 259px; }
  
  #main-header.header-v5 {
    padding: 24px 0; }
    #main-header.header-v5 .inner {
      margin: 0 20px; }
    #main-header.header-v5 .logo {
      padding-top: 4px; }
    #main-header.header-v5 .main-menu .megamenu-fullwidth .submenu-v1 {
      right: calc(50% - 300px); }
  
  #main-header.header-v6 {
    padding-top: 40px; }
    #main-header.header-v6 .main-menu .megamenu-fullwidth .submenu-v1 {
      right: calc(50% - 600px); }
    #main-header.header-v6 .inner {
      grid-template-columns: 200px 1fr 200px;
      display: -webkit-grid;
      display: -webkit-grid;
      display: -moz-grid;
      display: -ms-grid;
      display: grid; }
    #main-header.header-v6 .logo {
      text-align: center; }
      #main-header.header-v6 .logo a {
        display: inline-block; }
    #main-header.header-v6 .main-menu {
      text-align: center; }
      #main-header.header-v6 .main-menu .navbar-collapse.collapse {
        float: none;
        display: inline-block; }
    #main-header.header-v6 .header-center {
      margin-bottom: 24px; }
    #main-header.header-v6 .header-left .infor-header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
      #main-header.header-v6 .header-left .infor-header .icon-phone {
        background: url("../images/icon/icon-phone-h6.png") no-repeat;
        margin-right: 10px;
        margin-top: 5px;
        padding: 0 20px;
        @inlcude square(38px); }
      #main-header.header-v6 .header-left .infor-header .title {
        color: #898989;
        font-weight: 300; }
      #main-header.header-v6 .header-left .infor-header .phone-number {
        color: #80b435;
        font-size: 18px;
        font-weight: 600; }
    #main-header.header-v6 .header-right {
      align-items: flex-start; }
  
  #main-header.header-v8 {
    padding: 30px 0;
    position: absolute;
    width: 100%;
    z-index: 999; }
    #main-header.header-v8 .main-menu .megamenu-default .submenu-v1 {
      left: calc(50% - 20px);
      right: auto; }
    #main-header.header-v8 .main-menu .megamenu-fullwidth .submenu-v1 {
      left: calc(50% - 200px);
      right: auto; }
    #main-header.header-v8 .main-menu .submenu-v1 li a {
      color: #2b2b2b; }
      #main-header.header-v8 .main-menu .submenu-v1 li a:hover {
        color: #80b435; }
    #main-header.header-v8 .main-menu .navbar {
      float: none;
      padding: 0; }
      #main-header.header-v8 .main-menu .navbar a {
        color: #FFF; }
        #main-header.header-v8 .main-menu .navbar a:hover {
          color: #80b435; }
    #main-header.header-v8 .logo a {
      display: inline-block; }
    #main-header.header-v8 .search-popup a {
      color: #FFF; }
      #main-header.header-v8 .search-popup a:hover {
        color: #80b435; }
    #main-header.header-v8 .shopping-cart {
      margin-right: 35px; }
      #main-header.header-v8 .shopping-cart .text-cart {
        color: #FFF; }
        #main-header.header-v8 .shopping-cart .text-cart:hover {
          color: #80b435; }
  
  #main-header.header-page .main-menu .megamenu-default .submenu-v1 {
    left: calc(50% - 20px);
    right: auto; }
  
  #main-header.header-page .main-menu .megamenu-fullwidth .submenu-v1 {
    left: calc(50% - 200px);
    right: auto; }
  
  #main-header.header-page .main-menu .submenu-v1 li a {
    color: #2b2b2b; }
    #main-header.header-page .main-menu .submenu-v1 li a:hover {
      color: #80b435; }
  
  #main-header.header-page .main-menu .navbar {
    float: none;
    padding: 0; }
  
  #main-header.header-v9 {
    padding: 30px 0;
    margin: 0 auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99; }
    #main-header.header-v9 .main-menu .megamenu-default .submenu-v1 {
      left: calc(50% - 20px);
      right: auto; }
    #main-header.header-v9 .main-menu .megamenu-fullwidth .submenu-v1 {
      left: calc(50% - 200px);
      right: auto; }
    #main-header.header-v9 .main-menu .submenu-v1 li a {
      color: #2b2b2b; }
      #main-header.header-v9 .main-menu .submenu-v1 li a:hover {
        color: #80b435; }
    #main-header.header-v9 .main-menu .navbar {
      float: none;
      padding: 0; }
    #main-header.header-v9 .logo a {
      display: inline-block; }
    #main-header.header-v9 .shopping-cart {
      margin-right: 35px; }
  
  #main-header.header-absolute {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    padding: 28px 25px;
    z-index: 99; }
    #main-header.header-absolute .tp_btn_search {
      color: #f6f6f6; }
      #main-header.header-absolute .tp_btn_search:hover {
        color: #80b435; }
    #main-header.header-absolute .shopping-cart {
      border-color: #b2b2b1;
      margin-right: 54px; }
      #main-header.header-absolute .shopping-cart .text-cart {
        color: #FFF; }
        #main-header.header-absolute .shopping-cart .text-cart:hover {
          color: #80b435; }
    #main-header.header-absolute .main-menu {
      position: relative;
      width: 50px;
      height: 50px; }
    #main-header.header-absolute .burger-menu {
      left: 0; }
    #main-header.header-absolute .icon-menubar {
      cursor: pointer;
      font-size: 0;
      padding: 0 26px; }
      #main-header.header-absolute .icon-menubar:after, #main-header.header-absolute .icon-menubar:before {
        content: "";
        left: 0;
        position: absolute;
        top: 0; }
      #main-header.header-absolute .icon-menubar:after {
        background: url("../images/icon/icon-menubar-h2.png");
        width: 50px;
        height: 50px; }
      #main-header.header-absolute .icon-menubar:before {
        background: #FFF;
        width: 50px;
        height: 50px; }