.preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 101;
    height: 100%;
    
 }

 .preloader-inner{
    left: 50%;
    top:50%;
    width: 200px;
    height: 200px;
    background-image: url('../images/group.svg');
    background-repeat: no-repeat; 
    background-color: #FFF;
    background-position: center;
 }


/* Header Desktop */

.header-section{
    position: relative;
    width: 100%;
  
}
#main-header.header-v2 {
    position: absolute;
    margin: auto;
    width: 100%;
    left: 0;
    top: 18px;
    z-index: 99; }
    #main-header.header-v2 .container-fluid {
      padding: 0; }
    #main-header.header-v2 .inner {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between; }
    #main-header.header-v2 .logo {
      display: block; }
      #main-header.header-v2 .logo a {
        display: inline-block; }
      #main-header.header-v2 .logo .logo-white {
        display: none; }
      #main-header.header-v2 .logo.active .logo-default {
        display: none; }
      #main-header.header-v2 .logo.active .logo-white {
        display: inline-block; }
    #main-header.header-v2 .main-menu {
      margin-left: 30px;
      position: relative; }
    #main-header.header-v2 .header-right {
      margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center; }
      #main-header.header-v2 .header-right i{
        font-size: 30px;
        margin-right: 10px;
      }

      #main-header.header-v2 .header-right i.fa-whatsapp{
       color:#43d854;
      }
      #main-header.header-v2 .header-right i.fa-facebook{
        color:#3b5998
      }
      #main-header.header-v2 .header-right i.fa-instagram{
       color:#c32aa3;
      }

      .burger-menu {
        background-color: #FFF;
        cursor: pointer;
        padding: 17px 14px;
        position: fixed;
        top: 18px;
        left: 35px;
        width: 50px;
        height: 50px; }
        .burger-menu.active span {
          background: transparent; }
          .burger-menu.active span:before, .burger-menu.active span:after {
            top: 0;
            width: 24px !important; }
          .burger-menu.active span:before {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg); }
          .burger-menu.active span:after {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg); }
        .burger-menu.active:hover span:before {
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transform: rotate(135deg); }
        .burger-menu.active:hover span:after {
          -webkit-transform: rotate(-135deg);
          -moz-transform: rotate(-135deg);
          -ms-transform: rotate(-135deg);
          -o-transform: rotate(-135deg);
          transform: rotate(-135deg); }
        .burger-menu span {
          background-color: #3c3c3c;
          display: block;
          margin-top: 7px;
          position: relative;
          -moz-transition: all 0.2s ease-out;
          -webkit-transition: all 0.2s ease-out;
          -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
          -webkit-transform: translateY(100%);
          -moz-transform: translateY(100%);
          -ms-transform: translateY(100%);
          -o-transform: translateY(100%);
          transform: translateY(100%);
          width: 16px;
          height: 2px; }
          .burger-menu span:before, .burger-menu span:after {
            background-color: #3c3c3c;
            content: '';
            left: 0;
            position: absolute;
            width: 24px;
            height: 2px;
            -moz-transition: all 0.2s ease-out;
            -webkit-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out; }
          .burger-menu span:before {
            top: -9px; }
          .burger-menu span:after {
            top: 9px; }
        .burger-menu:hover span {
          width: 24px; }
          .burger-menu:hover span:before, .burger-menu:hover span:after {
            width: 16px; }
      
      

/* Header Desktop End */


/* Header Mobile */

#header_mobile .header-top {
    padding: 15px 0; }
  

  #header_mobile .header-bottom {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    visibility: visible;
    background: #fff;
    border-top: 1px solid #e7e7e7; }
    #header_mobile .header-bottom.border-bottom {
      border-bottom: 1px solid #d4cbcb; }
  
  #header_mobile .logo {
    display: block; }
    #header_mobile .logo a {
      display: inline-block; }
  
  #header_mobile .header-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0; }
    #header_mobile .header-main i {
      font-size: 28px;
      padding-top: 3px; }
  
  #header_mobile .main-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end; }

    #header_mobile.header-page .header-bottom {
        border-bottom: none; }

/* Header Mobile End */

/* Header Content Popup */


        #content_menu_popup {
            background: #232323;
            position: fixed;
            top: 0;
            left: 0;
            opacity: 0;
            overflow-y: auto;
            visibility: hidden;
            width: 100%;
            height: 100%;
            -moz-transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
            z-index: 98; 
        }
            #content_menu_popup.menu-popup-open {
              opacity: 1;
              visibility: visible; }
              #content_menu_popup.menu-popup-open span {
                -webkit-transform: translateY(0%);
                -moz-transform: translateY(0%);
                -ms-transform: translateY(0%);
                -o-transform: translateY(0%);
                transform: translateY(0%); }
            #content_menu_popup ul li {
              margin-bottom: 25px;
              float: none;
              overflow: hidden; }
              #content_menu_popup ul li a {
                color: #FFF;
                font-size: 60px;
                text-transform: uppercase;
                font-weight: 500;
                position: relative;
                overflow: hidden; }
                #content_menu_popup ul li a:after {
                  background: #ffca13;
                  content: '';
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 0px;
                  height: 2px;
                  -moz-transition: all 0.4s ease-out;
                  -webkit-transition: all 0.4s ease-out;
                  -o-transition: all 0.4s ease-out;
                  transition: all 0.4s ease-out; }
                #content_menu_popup ul li a:hover {
                  color: #ffca13; }
                  #content_menu_popup ul li a:hover:after {
                    width: 100%; }
              #content_menu_popup ul li span {
                display: inline-block;
                -moz-transition: all 0.3s ease-out 0.2s;
                -webkit-transition: all 0.3s ease-out 0.2s;
                -o-transition: all 0.3s ease-out 0.2s;
                transition: all 0.3s ease-out 0.2s;
                -webkit-transform: translateY(100%);
                -moz-transform: translateY(100%);
                -ms-transform: translateY(100%);
                -o-transform: translateY(100%);
                transform: translateY(100%); }
            #content_menu_popup .menu-popup-body {
              max-width: 70%;
              margin: auto;
              transform: translateY(200px); }

/* Header Content Popup  End*/


/* Banner Slider */


.banner-slider{
    position: relative;
    padding-top: 100px;
    background-color: #f0f0f0;
    height: 100vh;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
.banner-slider {
    position: relative;
    padding-top: 25px;
    background-color: #f0f0f0;
    height: 55vh;
    overflow: hidden;
}
}


/* Banner video */

.banner-video{
position: relative;
margin: 0 auto;
width: 100%;
overflow: hidden;
height: 100vh;

}

.banner-inner{
    position: relative;
    height: inherit;
}

.banner-inner video {
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    height: 100%;
    object-fit: cover;
  }

   .overlay{
    position: absolute;
    background: rgb(54, 54, 54);
    /* background: linear-gradient(left,rgba(37, 55, 0, 0.753) 0%, rgba(0, 90, 27, 0.43) 100%); */
    /* background: linear-gradient(left, rgba(47, 54, 0, 0.644) 30%, #011d04c5 40%, #163502 74%); */
    mix-blend-mode: overlay;
    object-position: center 50%;
    opacity: 0.4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
  } 

  .video-content{
      position: absolute;
      width: 100%;
      top:20%;
      left: 0;
      z-index: 1;
  }

  .video-content h1{
      color: #fff;
      text-align: left;
      display: flex;
      flex-direction: column;
      position: relative;
      
  }
  .video-content h1 strong{
    animation-duration: 2s;
    font-size: 50px;
    transition: all ease-in;
  }

  .video-content h1 span{
    text-align: center;
    text-transform: uppercase;
    font-size: 70px;
    padding-top: 15px;
    letter-spacing: 1px;
    color:#ffca13;
    animation-duration: 2s;
    animation-delay: 0.5s;
    transition: all 0.5s ease-in;
  }

  .video-content h2{
    position: absolute;
    right: 25%;
    top: 20%;
    transform: rotate(90deg);
    z-index: 11;
    animation: cubic-bezier(1, 0, 0, 1);
  }
  .video-content h2 span{
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 4px;
    color: #ffca13;
    animation-duration: 2s;
    animation-delay: 0.5s;
    transition: all 0.5s ease-in;
    font-weight: 600;
   
  }

  .text-line {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: dash 5s linear forwards, filling 5s ease-in forwards;
    font-size: 30px;
    stroke:#ffca13;
    transition: all 0.5s ease-in;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 4px;
    font-weight: 400;
  }
  
  
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes filling {
    0%, 90% { fill: #ffca13; fill-opacity: 0; }
    100% { fill: #ffca13; fill-opacity: 1; }
  }

  .scroll-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    margin: auto;
    width: 100px;
    height: 100px;
    color: #fff;
    cursor: pointer;
    z-index: 2;
    -webkit-transition-property: color, opacity;
    -o-transition-property: color, opacity;
    transition-property: color, opacity;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }

  .class-disk{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: currentColor;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    transform: translateY(0px) scale(1);
    animation: class-disk cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s 1.3s backwards;
    color: #FFF;
}

.class-line{

    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
    bottom: 36px;
    margin: auto;
    width: 1px;
    background: currentColor;
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: opacity, transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    animation: class-line cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s 1.3s backwards;
    color:#fff;

}
  
.class-circle{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 25px;
    height: 25px;
    border: 2px solid currentColor;
    border-radius: 50%;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: opacity, transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    animation: class-circle cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s 1.1s backwards;
    color: #fff;
}

.class-circle:hover{
   transform: scale(1.4);
   transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
}

.inner-disk{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: currentColor;
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: opacity, transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color:#fff;
}

.shop-banner{
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.shop-banner .inner-title h4 a{
    font-size: 20px;
    text-transform: uppercase;
    color:#fff;
    letter-spacing: 1px;
    line-height: 1.6;
    padding-bottom: 5px;
    border-bottom:1.5px solid #fff;
}

.shop-banner .inner-title h4 a::after{
    content: '';
    mask: url('../images/icons/right-arrow.svg') no-repeat 100% 100%;
    -webkit-mask: url('../images/icons/right-arrow.svg') no-repeat 100% 100%;
    position: absolute;
    left: 8px;
    bottom: -3px;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #ffff;
    width: 100px;
    height: 20px;


}

.shop-banner .inner-title h4  svg{
    fill: #fff;
}

  /* banner video end  */

/* Gallery  */

.item-isotope .price:before{
    content: '\f156';
    font-family: 'FontAwesome';
    margin-right: 2px;
}


/* Shop */

.box-img [class*="col-"]{
    padding: 0;

}

.product-single-section{
  position: relative;
  top: 100px;
  margin-bottom: 150px;
}

.pro-price .price:before {
    content: '\f156';
    font-family: 'FontAwesome';
    margin-right: 10px;
}
.single-product-detail .single-product-infor .pro-price {
    margin: 15px 0 15px;
}

item.slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.dropdowndesc{
    margin-bottom: 9px;
    position: relative;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.dropdowndesc span{
    color: #ffca13;
    font-size: 24px;
    font-weight: 600;
}

.drop-details p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 26px;
}

.sub-details li{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 26px;
}

.single-product-detail{
    margin-top: 40px;
}
/* ---------------------------------- */
/* Star Rating
------------------------------------- */
/* Star Rating */
.star-rating { display: inline-block; }

.star-rating .star {
	display: inline-block;
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 0;
	position: relative;
}

.star-rating .star.half:after,
.star-rating .star:before {
    font-family: "FontAwesome";
	content: "\f005";
	display: block;
	color: #febe42;
	font-size: 22px;
}

.star-rating .star.empty:before { color: #ddd; }

.rating:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.star-rating .star.half:before { color: #ddd; }
.star-rating .star.half:after {
	color: #febe42;
	position: absolute;
	top:0;
	width: 50%;
	display: block;
	height: 100%;
	overflow: hidden;
}

/* average rating before stars */
.star-rating:before { 
	content: attr(data-rating);
	float: left;
	border-radius: 4px;
	background-color: #febe42;
	color: #fff;
	font-size: 14px;
	line-height: 15px;
	font-weight: 700;
	padding: 5px 7px;
	position: relative;
	top: 1px;
	margin-right: 10px;
}

/* No stars */
.star-rating.no-stars .star { display: none; }
.star-rating.no-stars:before { margin-right: 0; }

/* 
About  */

.about-page .about-content {
    margin-bottom: 100px; }
  
  .about-page .about-top {
    position: relative; }
    @media (min-width: 1200px) {
      .about-page .about-top {
        margin-bottom: 142px; } }
    @media (min-width: 1860px) {
      .about-page .about-top .post-type {
        left: -116px; } }
    @media (min-width: 1200px) and (max-width: 1860px) {
      .about-page .about-top .post-type {
        left: -10px; } }
    @media (min-width: 1200px) {
      .about-page .about-top .post-type {
        top: -229px; } }
    @media (min-width: 900px) and (max-width: 1200px) {
      .about-page .about-top .post-type {
        top: -110px; } }
    @media (min-width: 900px) {
      .about-page .about-top .post-type {
        position: absolute;
        z-index: 99; } }
    @media (max-width: 900px) {
      .about-page .about-top .post-type {
        margin-top: 30px; } }
    .about-page .about-top .post-type .inner {
      background: #ffca13; }
      @media (min-width: 1860px) {
        .about-page .about-top .post-type .inner {
          padding: 122px 90px 119px;
          width: 550px; } }
      @media (min-width: 1200px) and (max-width: 1860px) {
        .about-page .about-top .post-type .inner {
          padding: 80px 90px;
          width: 490px; } }
      @media (min-width: 900px) and (max-width: 1200px) {
        .about-page .about-top .post-type .inner {
          padding: 90px 54px; } }
      @media (max-width: 900px) {
        .about-page .about-top .post-type .inner {
          padding: 40px 35px; } }
    .about-page .about-top .post-type span {
      color: #f7f7f7;
      font-weight: 300; }
      @media (min-width: 1200px) {
        .about-page .about-top .post-type span {
          font-size: 60px; } }
      @media (min-width: 900px) and (max-width: 1200px) {
        .about-page .about-top .post-type span {
          font-size: 45px; } }
      @media (max-width: 900px) {
        .about-page .about-top .post-type span {
          font-size: 35px; } }
    .about-page .about-top .post-type .signature {
      color: rgba(247, 247, 247, 0.6);
      font-size: 18px;
      font-style: italic;
      margin-top: 22px;
      text-align: right; }
  
  @media (min-width: 1200px) {
    .about-page .about-center .desc-about {
      margin-right: 110px; } }
  
  .about-page .desc-about .title-heading {
    color: #232323;
    margin-top: 55px;
    font-size: 40px;
    font-weight: 600; }
  
  .about-page .desc-about p {
    color: #111111;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-top: 30px;
    opacity: 0.7;
    line-height: 30px; }

    /* About end */

