/* Header Desktop */

#main-header.header-v2 {
    position: absolute;
    margin: auto;
    width: 100%;
    left: 0;
    top: 18px;
    z-index: 99; }
    #main-header.header-v2 .container-fluid {
      padding: 0; }
    #main-header.header-v2 .inner {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between; }
    #main-header.header-v2 .logo {
      display: block; }
      #main-header.header-v2 .logo a {
        display: inline-block; }
      #main-header.header-v2 .logo .logo-white {
        display: none; }
      #main-header.header-v2 .logo.active .logo-default {
        display: none; }
      #main-header.header-v2 .logo.active .logo-white {
        display: inline-block; }
    #main-header.header-v2 .main-menu {
      margin-left: 30px;
      position: relative; }
    #main-header.header-v2 .header-right {
      margin-right: 30px; }
      #main-header.header-v2 .header-right i{
        font-size: 30px;
        margin-right: 10px;
      }

      #main-header.header-v2 .header-right i.fa-whatsapp{
       color:#43d854;
      }
      #main-header.header-v2 .header-right i.fa-facebook{
        color:#3b5998
      }
      #main-header.header-v2 .header-right i.fa-instagram{
       color:#c32aa3;
      }

/* Header Desktop End */


/* Header Mobile */

#header_mobile .header-top {
    padding: 15px 0; }
  
  #header_mobile .header-bottom {
    border-top: 1px solid #e7e7e7; }
    #header_mobile .header-bottom.border-bottom {
      border-bottom: 1px solid #e7e7e7; }
  
  #header_mobile .logo {
    display: block; }
    #header_mobile .logo a {
      display: inline-block; }
  
  #header_mobile .header-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0; }
    #header_mobile .header-main i {
      font-size: 28px;
      padding-top: 3px; }
  
  #header_mobile .main-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end; }

    #header_mobile.header-page .header-bottom {
        border-bottom: none; }

/* Header Mobile End */

/* Header Content Popup */


        #content_menu_popup {
            background: #232323;
            position: fixed;
            top: 0;
            left: 0;
            opacity: 0;
            overflow-y: auto;
            visibility: hidden;
            width: 100%;
            height: 100%;
            -moz-transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
            z-index: 98; 
        }
            #content_menu_popup.menu-popup-open {
              opacity: 1;
              visibility: visible; }
              #content_menu_popup.menu-popup-open span {
                -webkit-transform: translateY(0%);
                -moz-transform: translateY(0%);
                -ms-transform: translateY(0%);
                -o-transform: translateY(0%);
                transform: translateY(0%); }
            #content_menu_popup ul li {
              margin-bottom: 25px;
              float: none;
              overflow: hidden; }
              #content_menu_popup ul li a {
                color: #FFF;
                font-size: 60px;
                text-transform: uppercase;
                font-weight: 500;
                position: relative;
                overflow: hidden; }
                #content_menu_popup ul li a:after {
                  background: #80b435;
                  content: '';
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 0px;
                  height: 2px;
                  -moz-transition: all 0.4s ease-out;
                  -webkit-transition: all 0.4s ease-out;
                  -o-transition: all 0.4s ease-out;
                  transition: all 0.4s ease-out; }
                #content_menu_popup ul li a:hover {
                  color: #80b435; }
                  #content_menu_popup ul li a:hover:after {
                    width: 100%; }
              #content_menu_popup ul li span {
                display: inline-block;
                -moz-transition: all 0.3s ease-out 0.2s;
                -webkit-transition: all 0.3s ease-out 0.2s;
                -o-transition: all 0.3s ease-out 0.2s;
                transition: all 0.3s ease-out 0.2s;
                -webkit-transform: translateY(100%);
                -moz-transform: translateY(100%);
                -ms-transform: translateY(100%);
                -o-transform: translateY(100%);
                transform: translateY(100%); }
            #content_menu_popup .menu-popup-body {
              max-width: 70%;
              margin: auto;
              transform: translateY(200px); }

/* Header Content Popup  End*/


/* Banner Slider */


.banner-slider{
    position: relative;
    padding-top: 100px;
    background-color: #e7e7e7;
    height: 100vh;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
.banner-slider {
    position: relative;
    padding-top: 25px;
    background-color: #e7e7e7;
    height: 55vh;
    overflow: hidden;
}
}